body{
    background: rgb(244,244,246);
}
img{
    width: 100%;
}
.pay{
    background: #fff;
}
.pay-succ{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(227,227,227);
    text-align: center;
    padding: 60px 0;
    position: relative;
}
.pay-succ .ordermoney{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 28px;
}
.pay-succ .ordermoney>span{
    color: rgb(145,145,145);
}
.pay-succ .ordermoney>i{
    font-style: normal;
    color: rgb(255,45,59);
}
.pay-succ img{
    width: 35%;
}
.succbtn{
	width:90%;
	margin: 20px auto 0;
	padding:10px 0 20px 0;
	text-align: center;
}
.succbtn>a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 12px;
	border-radius: 5px;
	padding: 10px 15px;
	color:#242424;
}
.succbtn .checkorder{
	border: 1px solid #d9d9d9;


}
.succbtn .returnhome{
	border:1px solid #Fdd000;
	color: #Fdd000;
}
.failP{
	padding: 0 5%;
	color: rgb(81,81,81);
	line-height: 24px;
	font-size: 14px;
	letter-spacing:1px;
	font-weight: 700;
}